body{
  color: black;
 font-family: 'Open Sans', sans-serif;
 font-size: 20px; 
 margin: 0px;
}
h1{
font-weight: 700;
}
ul li {
  display: inline-block;
}
ul{
  float: right;
}
a{
  color: inherit;
}
nav ul li a{
  background: #607d8b;
  text-decoration: none;
  padding: 20px;
  color: white;
}
footer p{
  text-align: right;
  padding: 30px;
}
nav ul li a:hover{
  color: black;
}
section{
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
}
footer
{
  background: #263238;
  height: 200px
}
.card{
  width: 48%;
  margin: 1%;
  float: left;
}
